header,
footer,
section {
    overflow: hidden;
}

.burger--desable {
    display: none;
    width: 0;
}

@media (max-width: 1900px) {
    .stages__container {
        align-items: inherit;
        width: 1500px;
        margin: 0;
    }

    .stages__list {
        width: 1500px;
    }
}

@media (max-width: 1705px) {
    .works__1-half {
        width: 450px;
    }

    .works__logo {
        display: none;
    }

    .works__header {
        padding-right: inherit;
    }

}

@media (max-width: 1600px) {
    .works__header {
        padding-right: 0;
    }

    .works__list-item-image-heaer {
        width: 300px;
    }

    .work__descr {
        margin: 0;
    }

    .works__1-half {
        width: 400px;
    }

    .works__2-half {
        width: 400px;
    }

    .stages__container {
        padding: 0 5%;
    }

    .stages__list-item {
        margin-bottom: 100px;
    }

    .stages__list-item:nth-child(3) {
        margin-right: 0;
    }

    .stages__list-item:nth-child(6) {
        margin-right: 0;
    }

    .stages__list-item:nth-child(7) {
        margin-bottom: 0;
    }

    .stages__list-item:nth-child(8) {
        margin-bottom: 0;
    }

    .stages__list-item:nth-child(9) {
        margin-right: 0;
        margin-bottom: 0;
    }

    .footer__content-box {
        width: 50%;
    }

    .footer__descr {
        width: 100%;
    }

    .footer__container {
        padding: 0 15%;
    }

}

@media (max-width: 1520px) {
    .works__header {
        font-size: 60px;
    }

    .full-screen {
        height: inherit;
        padding-bottom: 160px;
    }

    .full-screen__main-title {
        width: 80%;
    }
}

@media (max-width: 1470px) {
    .advantages__list-item {
        width: 33.33%;
        margin-right: 30px;
    }

    .advantages__list-item:nth-child(3) {
        margin-right: 0;
    }

    .works__1-half {
        width: 300px;
    }

    .works__2-half {
        width: 300px;
    }

    .works__header {
        font-size: 48px;
    }

    .stages__list-item {
        margin-right: 50px;
        margin-bottom: 50px;
    }
}

@media (max-width: 1400px) {
    .about__container {
        padding-left: 100px;
        padding-right: 100px;
    }

    .stages__list-item {
        /* width: inherit; */
        width: 500px;
    }

    .stages__list-item:nth-child(3) {
        margin-right: 50px;
    }

    .stages__list-item:nth-child(7) {
        margin-bottom: 50px;
    }

    .footer__container {
        padding: 0 10%;
    }
}

@media (max-width: 1300px) {
    .header__links {
        justify-content: space-between;
    }

    .full-screen {
        padding-bottom: 120px;
        padding-top: 120px;
    }

    .full-screen__main-title {
        font-size: 60px;
    }

    .advantages__descr {
        padding-left: 30px;
    }

    .advantages__card-header {
        font-size: 24px;
        padding-top: 20px;
    }

    .advantages__header {
        font-size: 52px;
    }

    .works__header {
        display: none;
    }

    .works__container {
        justify-content: flex-end;
    }

    .examples__content-box {
        font-size: 60px;
    }

}

@media (max-width: 1200px) {
    .header__links {
        width: 70%;
    }

    .full-screen {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media (max-width: 1100px) {
    .full-screen {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .about__container {
        padding: 0 5%;
    }

    .about__image-box {
        margin-right: 60px;
    }

    .about__medium-header {
        margin-bottom: 30px;
    }

    .about__stats-box {
        padding-top: 30px;
    }

    .works {
        background: none;
    }

    .works__container {
        align-items: center;
    }

    .aws__container {
        flex-direction: column;
    }

    .aws__text-box {
        margin-bottom: 40px;
    }

    .stages__list {
        max-width: 900px;
    }

    .stages__list-item {
        width: 400px;
    }

    .footer__container {
        padding: 0 5%;
    }
}

@media (max-width: 1000px) {
    .header__link {
        font-size: 20px;
    }

    .full-screen {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .full-screen__main-title {
        font-size: 48px;
        line-height: 65px;
    }

    .full-screen__main-descr {
        font-size: 20px;
    }

    .btn {
        font-size: 20px;
        width: 300px;
        height: 70px;
    }

    .about__medium-header {
        margin-bottom: 20px;
    }

    .about__stats-box {
        padding-top: 20px;
    }

    .stages {
        padding-top: 40px;
    }

    .footer__container {
        flex-direction: column;
        padding: 0 10%;
    }

    .footer__content-box {
        width: 100%;
    }

    .footer__feedback-container {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 900px) {
    .about {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .about__image-box {
        margin-right: 30px;
    }

    .about__medium-header {
        margin-bottom: 10px;
        font-size: 48px;
    }

    .about__stats-box {
        padding-top: 0;
    }

    .about__number {
        font-size: 48px;
    }

    .about__image-box {
        display: flex;
    }

    .advantages {
        padding-bottom: 80px;
    }

    .advantages__container {
        padding: 0 10%;
    }

    .advantages__list {
        flex-direction: column;
        align-items: center;
    }

    .advantages__list-item {
        margin: 0;
        width: 100%;
        margin-bottom: 50px;
    }

    .advantages__descr {
        padding-left: 80px;
    }

    .stages__list-item {
        width: 350px;
    }

    .footer__feedback-container {
        flex-direction: column;
        align-items: center;
    }

    .footer__input {
        width: 500px;
    }

    .footer__btn-block {
        margin-bottom: 50px;
    }
}

@media (max-width: 900px) {
    .header__links {
        width: 80%;
    }

    .full-screen {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .full-screen__main-title {
        font-size: 36px;
    }

    .full-screen__main-descr {
        font-size: 18px;
    }

    .full-screen__btn-block {
        margin-top: 20px;
    }

    .btn {
        width: 250px;
        height: 60px;
        font-size: 16px;
    }

    .about__container {
        flex-direction: column;
    }

    .about__image-box {
        justify-content: center;
        margin: 0;
        margin-bottom: 30px;
    }

    .examples__container {
        padding: 0 5%;
    }

    .examples__content-box {
        font-size: 48px;
    }
}

@media (max-width: 800px) {
    .advantages {
        padding-bottom: 60px;
    }

    .advantages__header {
        font-size: 40px;
    }

    .asw__advantage:last-child {
        text-align: left;
    }

    .aws__container {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .stages__list-item {
        width: 300px;
    }

    .stages {
        padding-bottom: 100px;
    }
}